<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="/assets/css/app/app.css">
    <script type="module" src="/assets/js/stack/stack.esm.js"></script>
  </head>
  <body>
    <main class="mx-auto max-w-3xl px-6 py-16">
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>

